#navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: black;
    height: 100px;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar button {
    height: 50px;
    margin: 0 5px;
    padding: 20px;
    text-align: center;
    border-radius: 5%;
}

#fork {
    background-color: black;
    border: 3px solid gray;
    color: white;
}

#fork:hover {
    cursor: pointer;
    background-color: gray;
}

#changeView {
    background-color: gray;
    color: white;
    border: 3px solid gray;
}

#changeView:hover {
    cursor: pointer;
    background-color: rgb(160, 160, 160);
}

#signUp {
    background-color: greenyellow;
    color: black;
    opacity: 1;
    border: none;
}

#signUp:hover {
    cursor: pointer;
    opacity: 0.7;
}

#logIn {
    background-color: gray;
    color: white;
    border: none;
}

#logIn:hover {
    cursor: pointer;
    background-color: rgb(158, 158, 158);
}

#navbar2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(190, 255, 206);
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#navbar2 a {
	text-decoration: none;
	color: rgb(0, 63, 14);
    margin: 0 30px;
    padding: 10px 0;
}

#welcome-section {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(190, 255, 206);
}

#welcome-section p {
    text-align: center;
}

#welcome-section span {
    margin: auto;
}

#welcome-section h1 {
    font-size: 48px;
}

#welcome-section p {
    font-size: 24px;
}

#welcome-section p, #welcome-section h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#projects {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}


#projects img{
	height: 400px;
	width: 400px;
}

.block {
    margin: 100px;
    border: 1px solid rgb(111, 226, 255);
}

.block p{
    display: flex;
    width: 100%;
    justify-content: center;
}

.block img {
    border: 1px solid rgb(111, 226, 255);
    padding: 10px;
}

.block a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 166, 255);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#contactinfo {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 200px;
    background-color: green;
}

#contactinfo a {
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
	body{
		background-color: lightgreen;
	}
}